body {
  --heading-font: "Inter", Roboto, sans-serif;
  --heading-font-weight: 400;
  --heading-color: var(--bs-dark);
  --heading-line-height: 1.24;

  --swiper-theme-color: var(--bs-primary);
  --swiper-pagination-bottom: 0;

  --custom-easing: cubic-bezier(0.17, 0.67, 0.83, 0.67);

  /* bootstrap */
  --bs-body-font-family: "Inter", Roboto, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.7;
  --bs-body-color: #8f8f8f;
  --bs-body-color-rgb: 143, 143, 143;

  --bs-primary: #ce071e;
  --bs-primary-dark: #8d0414;
  --bs-secondary: #6c757d;
  --bs-black: #111;
  --bs-light: #f1f1f0;
  --bs-dark: #212529;
  --bs-gray: #9aa1a7;
  --bs-gray-dark: #51565b;

  --bs-primary-rgb: 206, 7, 30;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-black-rgb: 17, 17, 17;
  --bs-light-rgb: 241, 241, 240;
  --bs-dark-rgb: 33, 37, 41;

  --bs-link-color: var(--bs-dark);
  --bs-link-color-rgb: 17, 17, 17;
  --bs-link-decoration: underline;
  --bs-link-hover-color: var(--bs-primary);
  --bs-link-hover-color-rgb: 17, 17, 17;
}
/* outlets */
.collection-item {
  height: 30rem;
}
/* latest products */
#latest-products h5 {
  letter-spacing: 0.3rem;
}
#latest-products span {
  color: var(--bs-black);
}
/* footer */
h5 {
  font-weight: 700;
  color: var(--bs-black);
}
a {
  color: var(--bs-black);
}
