* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --heading-font: "Inter", Roboto, sans-serif;
  --heading-font-weight: 400;
  --heading-color: var(--bs-dark);
  --heading-line-height: 1.24;

  --swiper-theme-color: var(--bs-primary);
  --swiper-pagination-bottom: 0;

  --custom-easing: cubic-bezier(0.17, 0.67, 0.83, 0.67);

  /* bootstrap */
  --bs-body-font-family: "Inter", Roboto, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.7;
  /* --bs-body-color: #8f8f8f; */
  --bs-body-color-rgb: 143, 143, 143;

  --bs-primary: #ce071e;
  --bs-primary-dark: #8d0414;
  --bs-secondary: #6c757d;
  --bs-black: #111;
  --bs-light: #f1f1f0;
  --bs-dark: #212529;
  --bs-gray: #9aa1a7;
  --bs-gray-dark: #51565b;

  --bs-primary-rgb: 206, 7, 30;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-black-rgb: 17, 17, 17;
  --bs-light-rgb: 241, 241, 240;
  --bs-dark-rgb: 33, 37, 41;

  --bs-link-color: var(--bs-dark);
  --bs-link-color-rgb: 17, 17, 17;
  --bs-link-decoration: underline;
  --bs-link-hover-color: var(--bs-primary);
  --bs-link-hover-color-rgb: 17, 17, 17;
}
/* header */
.login-section {
  list-style: none;
  margin-bottom: 0;
}
.login-item {
  text-decoration: none;
}
header {
  width: 100%;
}
header p {
  margin-bottom: 0;
}
/* swiper slider */
.horizontal {
  width: 690px;
  border-radius: 10px;
}
.horizontal img {
  border-radius: 10px;
}
.vertical {
  width: 690px;
  border-radius: 10px;
}
.vertical img {
  border-radius: 10px;
  height: 570px;
}
/* .slide-layout {
  display: flex;
  flex-direction: row;
} */

/* coupons */
.discounted-coupons {
  background-color: var(--bs-light);
}
.bold-text {
  right: 0;
  bottom: -42px;
  font-family: "Playfair Display", sans-serif;
  /* font-size: 8.8em; */
  /* color: #e1e1e1; */
  z-index: 1;
}
#coupons h2 {
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1;
  color: #212529;
}
#coupons p {
  color: #7a7a7a;
  letter-spacing: 0.4px;
}
#coupons .btn {
  position: relative;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  padding: 13px 39px;
  margin-right: 5.5rem;
  z-index: 0;
}
/* outlets */
.collection-item {
  height: 30rem;
}
/* latest products */
#latest-products h5 {
  letter-spacing: 0.3rem;
}
#latest-products span {
  color: var(--bs-black);
}
/* footer */
h5 {
  font-weight: 700;
  color: var(--bs-black);
}
a {
  color: var(--bs-black);
}
